# Get the data

In [363]:
import requests
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
url = 'http://info.kingcounty.gov/health/ehs/foodsafety/inspections/XmlRest.aspx?Zip_Code=98109&Inspection_Start=1/1/2016&Inspection_End=12/31/2016'

In [379]:
response = requests.get(url)

In [385]:
root = ET.fromstring(response.content)

In [386]:
element = root.find('Disclaimer')
root.remove(element)

In [387]:
name = []
address = []
city = []
zip_code = []
longitude = []
latitude = []
business_dict = {'Name': name, 'Address': address, 'City': city, 'Zip_Code': zip_code,
                'Longitude': longitude, 'Latitude': latitude}

In [388]:
def get_element_text(attribute):
    if business.find(attribute).text:
        return business.find(attribute).text
    else:
        return None
    
    
for i in range(0, len(root)):
    business = root.getchildren()[i]
    name.append(get_element_text('Name'))
    address.append(get_element_text('Address'))
    city.append(get_element_text('City'))
    zip_code.append(get_element_text('Zip_Code'))
    longitude.append(get_element_text('Longitude'))
    latitude.append(get_element_text('Latitude'))

In [389]:
df = pd.DataFrame(business_dict)

In [390]:
df.head()

,Address,City,Latitude,Longitude,Name,Zip_Code
0,10 MERCER ST,Seattle,47.6250635431,-122.3561914741,10 MERCER RESTAURANT,98109
1,1001 FAIRVIEW AVE N Unit 1700A,SEATTLE,47.6290212900,-122.3317269400,100 LB CLAM,98109
2,125 BOREN AVE N,Seattle,47.6193632585,-122.3362285865,13 COINS,98109
3,1502 QUEEN ANNE AVE N,Seattle,47.6325265677,-122.3567239640,5-SPOT,98109
4,1607 QUEEN ANNE AVE N,SEATTLE,47.6338933536,-122.3573732534,7-ELEVEN STORE #14368A,98109